h2 DASHBOARD
div.row
  div(id="esquerda").col-md-6
    div.row
      div#sensor01.col-md-6
      div#sensor02.col-md-6
    div.row
      div#sensor03.col-md-6
      div#sensor04.col-md-6      
    div {{dadoss.length}}
    div {{dadoss[dadoss.length-1].x}}
    div {{dadoss[dadoss.length-1].y}}